version: 2.1

jobs:
  build-and-test:
    docker:
      - image: cimg/node:18.19
    working_directory: ~/repo
    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-deps-{{ checksum "package-lock.json" }}
            - v1-deps-

      - run:
          name: Install dependencies
          command: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-deps-{{ checksum "package-lock.json" }}

      - run:
          name: Run tests
          command: npm test

workflows:
  build-and-test:
    jobs:
      - build-and-test